<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.wynnlasvegas.com/-/media/images/wynn-las-vegas/dining/bars-and-lounges/tower-suite-bar/1014_tower_suite_bar_lounge_view_barbara_kraft.ashx?la=en&w=1920&hash=BEDE38121E0AF350CF5B0C18DFD9D103);">
  <div class="container">
    <h1>The Velvet Room</h1>
    <p>Welcome to The Velvet Room loves. Do stay for a drink or two will you?</p>
    <%= link_to "Add a Cocktail", new_cocktail_path %>
  </div>
</div>

<div class="title">
  <h1>Cocktails</h1>
</div>

<% if @cocktails.empty?%>
    <h2>No Cocktails listed yet. Add some!</h2>
  <% else %>
  <div class="main-container">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to cocktail.name, cocktail_path(cocktail)  %>
        </div>
      <% end %>
      </div>
    </div>  
<% end %>
